div.st-b3.st-b8.st-c0.st-b1.st-bq.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-c1.st-bx.st-br.st-bs {
    background-color: #A29DF1;
}

/* div.css-76z9jo.ellz0s82 {
    background-color: #423bb6;
    color: #ffffff
} */

button.css-k9lh3d.ef3psqc11 {
    background-color: #423bb6;
    height: 2em; 
    width: 8em; 
    color: #ffffff
}

button.css-k9lh3d.ef3psqc11:hover {
    background-color: #ffffff;
    color: #000000
}

button.css-k9lh3d.ef3psqc11:focus {
    background-color: #262730;
    color: #ffffff
}

div.st-bf.st-cj.st-cp.st-cq.st-cr.st-b3.st-cs.st-ct.st-bg.st-cc.st-cd.st-ce.st-cf {
    background-color: #91E4DB;
}